[
    {mysql,
        [
            {host,  "127.0.0.1"},
            {user,  "gaohongwei"},
            {password, "rsrzrcj"},
            {post, 3306},
            {databse, "game_db"},
            {connect_num, 5}
        ]
    },
    {emysql,[
        {game_base,[
            {host, "192.168.1.214"},
            {port, 3306},
            {db, "ghw_test_game"},
            {username, "root"},
            {password, "db@214"},
            {count, 5},
            {encode, utf8}
     ]},
        {admin_base, [
            {host, "192.168.1.214"},
            {port, 3306},
            {db, "ghw_test_log"},
            {username, "root"},
            {password, "db@214"},
            {count, 5},
            {encode, utf8}
     ]}
         ]},
    {server,
        [
            {host, "127.0.0.1"},
            {port,  11111}
        ]
    }
].