{erl_opts, [
    {parse_transform, lager_transform},
    {erl_opts, [{i, "deps/gpb/include"}]}
]}.
{deps,
    [
        {lager, ".*", {git, "https://github.com/basho/lager", "master"}},
        {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", "master"}},
        {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb.git", "4.1.0"}},
        {ranch_tcp, ".*", {git, "https://github.com/hongweikkx/ranch_tcp.git", "master"}}
    ]
}.

{pre_hooks,
    [
        {compile,
           "escript deps/gpb/bin/protoc-erl -I ./proto "
            "-o-erl src -o-hrl include ./proto/login.proto"
        }]}.

{post_hooks,
    [{clean,
        "bash -c 'for f in proto/login.proto; "
        "do "
        "  rm -f src/$(basename $f .proto).erl; "
        "  rm -f include/$(basename $f .proto).hrl; "
        "done'"}
    ]}.

